.todo-box {
  width: 250px;
  border: 3px solid teal;
  border-radius: 10px;
  padding: 12px;
}
.todo-title {
  display: flex;
  margin-top: 24px;
}
.todo-contents {
}
.todo-btns {
  border: none;
  width: 50%;
  height: 40%;
  border-radius: 10px;
  cursor: pointer;
}
.todo-btn-delete {
  border: 2px solid red;
}
.todo-btn-done {
  border: 2px solid green;
}
